<!-- Vendor -->
<import file="Admin/vendor/jquery/jquery" />
<import file="Admin/vendor/jquery-browser-mobile/jquery#browser#mobile" />
<import file="Admin/vendor/bootstrap/js/bootstrap" />
<import file="Admin/vendor/nanoscroller/nanoscroller" />
<import file="Admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker" />
<import file="Admin/vendor/magnific-popup/jquery#magnific-popup" />
<import file="Admin/vendor/jquery-placeholder/jquery-placeholder" />

<!-- Specific Page Vendor -->
<block name="vendorJs"></block>

<!-- Theme Base, Components and Settings -->
<import file="Admin/javascripts/theme" />
<!-- Theme Custom -->
<import file="Admin/javascripts/theme#custom" />
<!-- Theme Initialization Files -->
<import file="Admin/javascripts/theme#init" />

<!-- Specific Page -->
<block name="spec"></block>