<!doctype html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>
        <block name="title"></block> | HAPPY-SHARE Admin - Responsive HTML5 CMS
    </title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Vendor CSS -->
    <import type="css" file="vendor/bootstrap/css/bootstrap" />
    <import type="css" file="vendor/font-awesome/css/font-awesome" />
    <!-- Specific Page Vendor CSS -->
    <block name="cpc"></block>
    <!-- Theme CSS -->
    <import type="css" file="admin/css/theme" />
    <!-- Skin CSS -->
    <import type="css" file="admin/css/skins/default" />
    <!-- Theme Custom CSS -->
    <import type="css" file="admin/css/theme-custom"/>
    <!-- Head Libs -->
    <import file="vendor/modernizr/modernizr" />
</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <block name="main"></block>
</section>
<!-- end: page -->
</body>
</html>